
body
{
  background-image:url('../static/background-image6.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  /*fixed navbar*/
  padding-top: 70px;
}

.navbar
{
  background: #3D362D;
}

/* General sizing, dropdown Login & Register */
.dropdown-menu 
{
  width: 300px;
}


.page-header
{
	color: #adadad;
  border-bottom: none;
}

#description-cont 
{
  color: #adadad;
  padding: 15px 15px;
}

img
{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -64px;
  margin-top: -64px;
}

#main-content 
{
  margin: auto auto;
  min-height: 500px;
}

 /*image container properties */

#image-col
{
  background-color: #3D362D;
  opacity: 1;
  color: #adadad;
  min-height: 500px;
}

#property-col
{
  background-color: #3D362D;
  color: #adadad;
  opacity: 0.85;
  padding-right: 0;
  min-height: 500px;
}

.center-block{
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.text-center
{
	display: block;
	margin: 0 auto;
}


/*color of flask flash_messages and error message 
*/
.logout_message
{
  color:#fff;
  padding: 3px 10px 3px 1250px;
}

.login_message
{
  color:#fff;
  padding: 3px 10px 3px 1250px;
}

.error_message
{
  color:#fff;
}


/* the size of the primitive fields */
#Point-Light-X
{
	width: 60px;
}


#Point-Light-Y
{
	width: 60px;
}


#Point-Light-Z
{
	width: 60px;
}	


input .SpherePosition
{
	width: 5px;
	font-weight: bold;
}


/* hide and show primitive form */
#A-position0
{
	display:none;
}

#B-position0
{
	display:none;
}

#C-position0
{
	display:none;
}

#triangle-color0
{
  display:none;
}

#triangle-material-selector0
{
  display:none;
}

/* type range properties (range input) */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #848484;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #B8860B;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}


.footer 
{
	background-color: #C0C0C0;
	margin-top:20px;
	padding-top:20px;

}

/* progress bar */

.progressBar {
  width: 306px;
  height: 26px;
  padding: 3px 3px 3px 3px;
  border-radius: 13px;
  margin: 10px 0;
  background-color: #bbb;
}


.progress {
  width: 0px;
  height: 20px;
  border-radius: 10px;
  -webkit-appearance: none;
   
}

progress.progress::-webkit-progress-value { 
    background: #0000ff; 
}










