
.page-header
{

}

.page-header h3
{
	color: #000000;
}

#main-content 
{
    margin: 0 auto;
    background-color: #daa520;  
}


/* image container properties */
#image-col
{
	background-color: #B8860B;
}

.img-responsive{
	max-width: 100%;
	height: auto;
	display:block;

}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#image-size-selector
{
	width: 100px;
	font-weight: bold;
}

.text-center
{
	display: block;
	margin: 0 auto;
}

.container .image
{

}


/* the size of the primitive fields */
#Point-Light-X
{
	width: 60px;
}


#Point-Light-Y
{
	width: 60px;
}


#Point-Light-Z
{
	width: 60px;
}	

#property-col
{
	background-color: #D2691E;
}


/*.form-inline  .input-mini
{
	width: 70px;
	font-weight: bold;
}


.form-inline  .input-small
{
	width: 90px;
	font-weight: bold;
}*/

input .SpherePosition
{
	width: 5px;
	font-weight: bold;
}


/* hide and show primitive form */
#A-position0
{
	display:none;
}

#B-position0
{
	display:none;
}

#C-position0
{
	display:none;
}

#triangle-color0
{
  display:none;
}

#triangle-material-selector0
{
  display:none;
}

/* type range properties (range input) */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #B8860B;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}


.footer 
{
	background-color: #C0C0C0;
	margin-top:20px;
	padding-top:20px;

}

/* progress bar */

.progressBar {
  width: 306px;
  height: 26px;
  padding: 3px;
  border-radius: 13px;
  margin: 20px 20px;
  background-color: #bbb;
}


progress.progress {
  width: 0px;
  height: 20px;
  border-radius: 10px;
  -webkit-appearance: none;
   
}

progress.progress::-webkit-progress-value { 
    background: #0000ff; 
}










