
<!DOCTYPE html>
<html>
	<head>
		<title>Ray Tracer</title>
	</head>
	<body>
		<form action="http://localhost:5000/result" method="POST">
			Point Light Position:
			<p> X <input type="number" step="any" name="X"/></p>
			<p> Y <input type="number" step="any" name="Y"/></p>
			<p> Z <input type="number" step="any" name="Z"/></p>
			Ambient Illumination (between 0.2 and 0.8):
			<br>
			<input type="number" step="any" min="0.2" max="0.8" name="ambient_illumination"/><br>
			<br>

			<input type="submit" value="Send" />
  			<input type="reset" />


		</form>
	</body>
</html> 






