
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Ray Tracer</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script type="text/javascript" 
     src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript"  src = "{{ url_for('static', filename='script_form.js')}}"></script>

         
  </head>

  <body>
  <!--  start of the header -->
	<header>
		<div class="container">
      <div class="row">
        <div class="page-header">
				  <h3>Ray Tracer</h3>
        </div>
      </div>
		</div>		
	</header>
  <!-- end of the header -->

  <!-- start of the main content of the body -->
  <body>
    <!-- start of the container with more description about ray tracer -->
    <div class="container" >
      <div class="row">
        <h4>what is ray tracer?</h4>
        <p> blah blah </p>
      </div>
    </div>
    <!-- end of the container with more description about ray tracer -->

  <!-- start of the container including cornell box image and the form -->
  <div class="container" id="main-content">
    <div class="row">
      <!-- start of the column with ray tracer image -->
      <div class="col-lg-6" id="image-col">
        <div class="container">
          <h3>Cornell Box</h3>
          <div id="image" ></div>
        </div>
      </div>
      <!-- end of the column with ray tracer image -->

      <!-- start of the column with properties (form-control)-->
      <div class="col-lg-6" id="property-col">
        <div class="container">
          <form id="the-form">
          <div class="row">
            <h3>Properties of Cornell Box</h3>
            <br>
          </div>
          <div class="row">
            <div class="form-group">
              <fieldset class="form-inline">
                <label>Image Size</label>
                <select class="form-control" id="image-size-selector">
                  <option>128×128</option>
                  <option>256×256</option>
                  <option>512×512</option>
                  <option>1024×1024</option>
                </select>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label>Point Light Position</label>
              <fieldset class="form-inline">
                <label class="control-label">X:</label>
                <input type="number" step="any"  id="Point-Light-X" class="input-mini form-control" >
                <label class="control-label">Y:</label>
                <input type="number" step="any"  id="Point-Light-Y" class="input-mini form-control" >
                <label class="control-label">Z:</label>
                <input type="number" step="any"  id="Point-Light-Z" class="input-mini form-control" >
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <fieldset class="form-inline">
                <label>Ambient Illumination (between 0.2 and 0.8)</label>
                <input type="range" id="Ambient-Illumination-Element" step="any" min="0.2" max="0.8" class="form-control input-mini">
              </fieldset>
            </div>
          </div>
          <div class="row">
            <button type="submit" id="Recalculate" class="btn btn-default">Recalculate</button>
          </div>
          </form>
        </div>
      </div>
      <!-- end of the column with properties (form-control)-->
    </div>
  </div>
  <!-- end of the container including cornell box image and the form -->
  
  <!-- start of the footer -->
  <footer class="footer">
    <div class="row">
      <div class="container">
          
      </div>
    </div>
	</footer>
  <!-- end of the footer -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
  <!-- end of the main content of the body -->
</html>



