
body
{
  background-image:url('../static/background-image6.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  /*fixed navbar*/
  padding-top: 70px;
}

.navbar
{
  background: #3D362D;
}

.page-header
{
	color: #adadad;
  border-bottom: none;
}

.container 
{
  min-height: 400px !important;
  min-width:400px;  /*suppose you want minimun width of 1000px */
  width: auto !important;   /*Firefox will set width as auto */
  width:400px; /* As IE ignores !important it will set width as 1000px; */
}

#description-cont 
{
  color: #adadad;
  padding: 15px 15px;
}

/*color of the forms labels (SignUp, Login, Logout)*/
.login-form-label
{
  color: #fff;
}

.signup-form-label
{
  color: #fff;
}

form label
{
  color: #fff;
}

/*color of flask flash_messages and error message */
.login_message
{
  color: #fff;
}

.login_message_error
{
  color: #ff0000;
}

.logout_message
{
  color: #fff; 
}

.signup_message
{
  color: #fff;
}

.signup_unique_error
{
  color: #ff0000;
}

.user_profile_message
{
  color: #fff;
}

.image_message
{
  color: #fff;
}

